/*Especificidad: 001*/
body {
    background-color: rgb(216, 216, 216);
    color: black;
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
}

/*Especificidad: 001*/
form {
    display: grid;
    grid-template-columns: repeat(5, 2em);
    grid-row-gap: 0.2em;
    grid-column-gap: 5.7em;
    padding: 5em;
}

/*Especificidad: 001*/
input {
    padding: 1em;
    font-size: 1.5em;
    width: 5em;
}

input[value="MC"] {
    grid-column-start: 1;
}

/*Especificidad: 010*/
input[type=text] {
    grid-column-start: 1;
    grid-column-end: 6;
    width: 23.5em;
    height: 3em;
}

/*Especificidad: 010*/
input[value="+"],
input[value="-"],
input[value="."],
input[value="/"],
input[value="*"],
input[value="←"],
input[value="pi"],
input[value="n!"],
input[value="+/-"],
input[value="↑"],
input[value="CE"],
input[value="C"],
input[value="("],
input[value=")"]
{
    background-color: rgb(138, 138, 138);
}
