/*Especificidad: 001*/
body {
    margin: 0;
    padding: 0;
    color: black;
    text-align: center;
    font-size: 1.5em;
}


/*Especificidad: 001*/
form {
    grid-template-columns: repeat(5, 1fr);
    grid-template-rows: repeat(10, 1fr);
    background-color: #5c5c5c;
    min-height: 50vh;
    display: grid;
    padding: 1em;
}

/*Especificidad: 001*/
textarea
{
    background-color: #ffffff;
    text-align: right;
    grid-column-end: span 5;
    font-size: 1em;
    grid-row-end: span 2;
    resize: none;
}

/*Especificidad: 011*/
input[type=text] {
    background-color: #ffffff;
    border: none;
    text-align: right;
    grid-column-end: span 5;
    font-size: 2em;
    padding: 0.1em;
    margin-bottom: 0.1em;
}

input {
    font-size: 1em;
}