/* Especificidad */
body {
    color: black;
    background-color: beige;
    font-family: Georgia, 'Times New Roman', Times, serif;

}

/*Especificidad: 001*/
table {
    width: 100%;

    text-align: left;

    border: 0.2em solid #668fd4;
    border-collapse: collapse;

    margin-bottom: 1em;
}

/*Especificidad: 001*/
th, td {
    padding: 1em;
    border-bottom: 0.1em solid #e5e9f0;
}

/*Especificidad: 001*/
th {
    color: #2e3440;
    background-color: #668fd4;
}

/*Especificidad: 001*/
button {
    color: #fff;
    background-color: #668fd4;
    padding: 0.5em 1em;
    border: 0.2em solid #3b4252;
}

/*Especificidad: 011*/
button:hover {
    background-color: #000000;
}

/*Especificidad: 011*/
button:active {
    border: 0.2em solid #fff;
}